@model IEnumerable<CommentApp.Models.DTOs.CommentDto>

<h1>Заглавные Комментарии</h1>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@Url.Action("ShowComments", new { itemId = Model.FirstOrDefault()?.ItemId, sortOrder = ViewData["UserNameSortParm"] })">Имя пользователя</a>
            </th>
            <th>
                <a href="@Url.Action("ShowComments", new { itemId = Model.FirstOrDefault()?.ItemId, sortOrder = ViewData["EmailSortParm"] })">E-mail</a>
            </th>
            <th>
                <a href="@Url.Action("ShowComments", new { itemId = Model.FirstOrDefault()?.ItemId, sortOrder = ViewData["DateSortParm"] })">Дата добавления</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@comment.UserName</td>
                <td>@comment.UserName</td>
                <td>@comment.CreationDate.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>